body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.Alu{
    color: blue;
}
p{
    text-align: justify;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
   
}
.potol{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.potol img{
    width: 70%;  
    margin-top: 10%; 
}
.button{
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-area{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;
}
.flexible{
    display: flex;
}  
.experience{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 5%;
}
.begun{
    padding: 5%;
}
.item{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5% ;
    box-shadow: 10px 10px 40px rgba(0, 0, 255, 0.562);
    background-image: url(images/top-banner.png);
    
}
#full-stack{
    border-left: 7px solid purple; 
}
#child{
    border-left: 7px solid tomato; 
}
footer p{
    text-align: center;
}